*{
	padding:0;
	margin:0;
	}
	body{
	position:relative;
	}
	.header{
	 background-color:green;
	 color:yellow;
	 height:70px;
	 width:100%;
	 padding:20px;
	 text-align:center;
	 position:relative;
	 font-size:20px;
	 text-decoration:none;
	}
	.nav-bar{
		width:100%;
		height:30px;
		background-color:yellow;
		color:green;
		text-align: center;
		padding:5px;
		border-bottom: 1px solid black;
	}
	.nav-bar ul, li{
		display:inline-block;
		font-size:30px;
		padding:0 30px;
		
	}
	.nav-bar ul {
		list-style-type: none; 
	}
	.nav-bar a {
		text-decoration: none; 
		color:green
	}
	.nav-bar li:hover {
		background-color: #dbff0e;
		color:#134a14;
	}
	
	.all-content{
		width:100%;
		padding:0;
		margin:0;
	}
	.content2{
	background-color:#ffff3c;
	text-align:center;
	width:100%;
	position: relative;
	color: #134a14;
	border:1px solid black;
	  display: grid;
	  grid-template-columns: repeat(4, auto);
	  gap:30px;
	}
	.item{
		border:1px solid black;
		background-color: #0b5a0b;
		margin:10px;
		color:yellow;
		border-radius: 5px;
	}
	.title-item{
		color:#ffff3c
	}
	.image-item{
		height:200px;
		width:200px;
		margin: auto;
		border-radius: 20px;
	}
	.image-item img{
		height:100%;
		width:100%;
		border-radius: 20px;
	}
	
	/* content*/
	.image-container{
	height:90%;
	width:80%;
	background-color:2d741c;
	color:c3db61;
	border: 2px dotted #black;
	margin:auto;
	margin-bottom: 30px;
	}
	.footer{
		background-color: rgb(3, 36, 30);
		color:white;
		width:100%;
		height:auto;
		bottom: 0%;
		text-align: center;
		font-size: 20px;
	}	